<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>CLIENT_ID</key>
	<string>311379417966-rh4sts01lpeu12pcr7qgfn1l6hp34o5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311379417966-rh4sts01lpeu12pcr7qgfn1l6hp34o5i</string>
	<key>API_KEY</key>
	<string>AIzaSyC7b9oxCxTqEsZX_2V3FHP1jl7stZCWiF8</string>
	<key>GCM_SENDER_ID</key>
	<string>311379417966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dailymistika.numerology</string>
	<key>PROJECT_ID</key>
	<string>numerology-c8fb4</string>
	<key>STORAGE_BUCKET</key>
	<string>numerology-c8fb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:311379417966:ios:8788ca7c0d7715dc9f3f7f</string>
	<key>DATABASE_URL</key>
	<string>https://numerology-c8fb4.firebaseio.com</string>
</dict>
</plist>
